<% provide :title, t("static_pages.contact.title") %>
<h1><%= t "static_pages.contact.title" %></h1>
<p>
  <%=t "static_pages.contact.intro" %>
  <%= link_to t("static_pages.contact.contact_page"), Settings.contact_url %>
</p>
